.header{
  background-color: #3c4057;
  height: 400px;
}

h1{
  color: #6cebd3;
  font-family: 'Pacifico', cursive;
  font-size: 600%;
}
.highlight{
  background-color: #e1cf02;
  height: 10px;
}
.navbar-custom {
  background-color: lightblue;  
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3c4057;
  color: white;
  text-align: center;
}
 


